@model TechProgram2025.Models.Contract

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Contract</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Client.ClientName)
            @Html.ActionLink(Model.Client.ClientName, "Details",
                     new { controller = "Clients", id = Model.Client.ClientID })
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InsuranceVariants)
        </dt>
        <dd class="col-sm-10">
            @foreach (InsuranceVariant insurance in Model.InsuranceVariants)
				{
					@Html.ActionLink(insurance.Name, "Details", new {controller="Insurance", id=insurance.InsuranceVariantID})<br/>
				}
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsProblematic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsProblematic)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ContractID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
