@model IEnumerable<TechProgram2025.Models.Contract>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InsuranceVariants)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsProblematic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgentUserID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Client.ClientName)
                </td>
				<td>
					@foreach (InsuranceVariant insurance in item.InsuranceVariants)
					{
						<p>@insurance.Name</p>
					}
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsProblematic)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Agent.FullName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ContractID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ContractID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ContractID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
